<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
<script src="{{ url_for('static', path='shared.js') }}?v=2"></script>
<script src="{{ url_for('static', path='app.js') }}?v=19"></script>
<script src="{{ url_for('static', path='terminal.js') }}?v=2"></script>
<script src="{{ url_for('static', path='diff_studio.js') }}?v=3"></script>
<script src="{{ url_for('static', path='scroll_studio.js') }}?v=1"></script>
<script src="{{ url_for('static', path='home.js') }}?v=1"></script>
